@model ParentalControl.Web.Mvc.Models.DevicePCModel

@{
    ViewBag.Title = "DevicePcDetails";
    ViewBag.WindowsAccounts = Model.windowsAccountList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKN - Control Parental</title>
    @Styles.Render("~/Content/ParentalControlStyle.css")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="containerDashboard">
        <div class="rowMenu">
            <div class="vertical-menu">
                <a href='@Url.Action("Index", "News")' id="logoImgMenu"><img src="~/Content/Images/icono-menu.png"></a>
                <a href="#"><img src="~/Content/Images/children.png"></a>
                <a href="#">Cuentas Infantiles</a>
                <a href='@Url.Action("Index", "Device")'><img src="~/Content/Images/devices.png"></a>
                <a href='@Url.Action("Index", "Device")'>Dispositivos</a>
                <a href='@Url.Action("Index", "Schedule")'><img src="~/Content/Images/calendario.png"></a>
                <a href='@Url.Action("Index", "Schedule")'>Horarios</a>
                <a href="#"><img src="~/Content/Images/notificaciones.png"></a>
                <a href="#">Notificaciones</a>
            </div>
            <div class="info-Content">
                <div id="menu-Parent">
                    <div class="button-menu-Parent">
                        @Html.ActionLink("Cerrar Sesión", "Login", "Account", new { area = "" }, new { @class = "button-parent" })
                    </div>
                    <div class="button-menu-Parent">
                        @Html.ActionLink("Mi Cuenta", "MyProfile", "Account", new { area = "" }, new { @class = "button-parent" })
                    </div>
                </div>
                <div class="info-Section">
                    @using (Html.BeginForm("DevicePcDetails", "Device", FormMethod.Post, new { @id = "frmSaveDeviceChanges" }))
                    {
                        @Html.HiddenFor(m => m.DevicePCId)
                        @Html.HiddenFor(m => m.ParentId)
                        @Html.Hidden("windowsAccounts", "");
                        @Html.Hidden("infantAccountsSelected", "");

                        <div id="deviceName">
                            <a href='@Url.Action("Index", "Device")'><img src="~/Content/Images/flecha-izquierda.png"></a>
                            <div id="sectionTitle">
                                @Html.TextBoxFor(m => m.DevicePCName, (object)new { @disabled = true, @id = "nameDevicePc" })
                            </div>
                            <button type="button" onclick="Habilitar(); return false;"><img src="~/Content/Images/edit.png"></button>
                            <hr />
                        </div>

                        <div>
                            <table id="table-Windows-Accounts" class="table">
                                <tr>
                                    <th>Cuentas Windows</th>
                                    <th>Cuentas Infantiles</th>
                                </tr>
                                @foreach (var item in Model.windowsAccountList)
                                {
                                    <tr>
                                        <td>
                                            <p>@Html.DisplayFor(modelItem => item.WindowsAccountName)</p>
                                        </td>
                                        <td>
                                            @if (item.InfantAccountId == null)
                                            {
                                                @Html.DropDownList("infantAccounts", ViewData["infantAccounts"] as SelectList)
                                            }
                                            else
                                            {
                                                <select id="infantAccounts" name="infantAccounts">
                                                    @foreach (SelectListItem option in ViewData["infantAccounts"] as SelectList)
                                                    {
                                                        <option value="@option.Value" @(option.Value == item.InfantAccountId.ToString() ? "selected='selected'" : "")>@option.Text</option>
                                                    }
                                                </select>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                        <div class="btnSave">
                            <button id="btnGuardar" type="button" class="btn btn-primary" onclick="Procesar(); return false;">
                                Guardar
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/utilities.js"></script>
</body>
</html>

<script type="text/javascript">
    function Habilitar() {
        var element = document.getElementById('nameDevicePc');

        if (element.disabled == true)
        {
            element.disabled = false;
        }
        else
        {
            element.disabled = true;
        }
    }

    function Procesar() {
        var table = document.getElementById('table-Windows-Accounts');
        var accounts = [];

        for (var r = 1, n = table.rows.length; r < n; r++) {
            accounts.push(table.rows[r].cells[0].innerText);
        }

        $("#windowsAccounts").val(accounts);  

        var dropDownList = document.getElementsByName('infantAccounts');
        var result = [];
        var i;

        for (i = 0; i < dropDownList.length; i++) {
            var options = dropDownList[i] && dropDownList[i].options;
            var opt;

            for (var j = 0, jLen = options.length; j < jLen; j++) {
                opt = options[j];

                if (opt.selected) {
                    result.push(opt.value);
                }
            }
        }

        $("#infantAccountsSelected").val(result);

        var form = document.getElementById('frmSaveDeviceChanges');
        form.submit();
    }
</script>

