@model ParentalControl.Web.Mvc.Data.Parent

@{
    ViewBag.Title = "EditProfile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKN - Control Parental</title>
    @Styles.Render("~/Content/ParentalControlStyle.css")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/plugins/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/sweetalert2.js"></script>
</head>
<body>
    <div class="containerDashboard">
        <div class="rowMenu">
            <div class="vertical-menu">
                <a href='@Url.Action("Index", "News")' id="logoImgMenu"><img src="~/Content/Images/icono-menu.png"></a>
                <a href='@Url.Action("Index", "InfantAccount")'><img src="~/Content/Images/children.png"></a>
                <a href="@Url.Action("Index", "InfantAccount")">Cuentas Infantiles</a>
                <a href='@Url.Action("Index", "Device")'><img src="~/Content/Images/devices.png"></a>
                <a href='@Url.Action("Index", "Device")'>Dispositivos</a>
                <a href='@Url.Action("Index", "Schedule")'><img src="~/Content/Images/calendario.png"></a>
                <a href='@Url.Action("Index", "Schedule")'>Horarios</a>
                <a href='@Url.Action("Index", "Notification")'><img src="~/Content/Images/notificaciones.png"></a>
                <a href='@Url.Action("Index", "Notification")'>Notificaciones</a>
            </div>
            <div class="info-Content">
                <div id="menu-Parent">
                    <div class="button-menu-Parent">
                        @Html.ActionLink("Cerrar Sesión", "Login", "Account", new { area = "" }, new { @class = "button-parent" })
                    </div>
                    <div class="button-menu-Parent">
                        @Html.ActionLink("Mi Cuenta", "MyProfile", "Account", new { area = "" }, new { @class = "button-parent" })
                    </div>
                </div>
                <form id="formularioSchedule" name="formulario" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ParentId)
                    <div>
                        <h5>Nombre de Usuario</h5>
                        <input type="text"
                               name="name"
                               value="@Model.ParentUsername" />
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input type="text"
                               name="email"
                               value="@Model.ParentEmail" />
                    </div>
                    <div>
                        <h5>Password</h5>
                        <input type="text"
                               name="password"
                               value="@Model.ParentPassword" />
                    </div>
                    <div class="form-group">
                        <div class="button-div">
                            <input type="submit" class="button" value="Guardar Cambios" />
                        </div>
                    </div>
                </form>

                <div>
                    <a href="@Url.Action("MyProfile", "Account")">
                        <img src="~/Content/Images/flecha-izquierda.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["notification"] != null)
    {
        @Html.Raw(TempData["notification"])}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>