@model ParentalControl.Web.Mvc.Models.ParentModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKN - Control Parental</title>
    @Styles.Render("~/Content/ParentalControlStyle.css")
    <link href="~/Content/plugins/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/sweetalert2.js"></script>
</head>
<body>
    <div class="container">
        <div class="row align-items-center">
            <div id="image" class="col">
                <img src="~/Content/Images/control-parental.png">
            </div>
            <div id="form2" class="col">
                <h1 id="TitleGreen">Control Parental</h1>
                <h2 id="TitleBlue">Bienvenido</h2>
                <section id="loginForm">
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            <h3>Nombre:</h3>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ParentUsername, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ParentUsername, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>Correo:</h3>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ParentEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ParentEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>Contraseña:</h3>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ParentPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ParentPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="button-div">
                                <input type="submit" class="button" value="Registrarse" />
                            </div>
                        </div>
                        <p id="registerText">
                            ¿Ya tienes una cuenta? @Html.ActionLink("Iniciar Sesión", "Login")
                        </p>
                    }
                </section>
            </div>
        </div>
    </div>
    @if (TempData["notification"] != null)
    {
        @Html.Raw(TempData["notification"])
    }
</body>
</html>